@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --grey: rgba(46, 46, 46, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e6e6e6;
  background-image: url('/assets/img/background-image.svg');
  background-repeat: no-repeat;
  background-position: center bottom calc(0.375em + 9.2rem);
  background-size: 100%;
}

.logo {
  max-height: 63px;
  height: 100%;
  max-width: 236px;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(46, 46, 46);
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-items {
  display: flex;
  list-style: none;
}

.navbar-items li {
  margin-left: 30px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar-items li:hover {
  color: #f9004d;
}

.divider {
  position: absolute;
  width: 330px;
  height: 0px;
  left: calc(50% - 500px / 2 + 90px);
  top: calc(50% - 0px / 2 + 0px);
  border: 1px solid #2e2e2e;
  transform: rotate(-90deg);
}

.button {
  width: 100%;
  height: 2.8125rem;
  background: var(--grey);
  border: 0;
  border-radius: 0.3135rem;
  color: #fff;
  font-weight: 700;
  margin-top: 2rem;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  transition: filter 0.2s;
  cursor: pointer;
}

.button:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
  color: #f9004d;
}

.container-main {
  width: 100%;
  height: 85vh;
  margin-top: 2.18rem;
  display: flex;
  gap: 4rem;
}

.container-main .container-cadastro{
  padding: 62px 0;
}

.container-main .container-login,
.container-main .container-cadastro {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-main .container-login section,
.container-main .container-cadastro section {
  width: 100%;
  max-width: 25rem;
  padding: 0 10px;
  max-height: 37rem;
}

.container-main .container-login section h2,
.container-main .container-cadastro section h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.container-main .container-login form,
.container-main .container-cadastro form {
  width: 100%;
}

.container-main .container-login form input,
.container-main .container-cadastro form input {
  border: 1px solid var(--grey);
  width: 100%;

  font-size: 1rem;
  line-height: 2rem;
  border-radius: 6px;
}

/* footer */
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  background-color: rgb(46, 46, 46);
  width: 100%;
}

.container-footer .navbar-items {
  flex-wrap: wrap;
  padding: 32px 0;
}

.container-footer p {
  color: #fff;
  font-size: 8px;
}
