.bg-gradient-rose {
    background-color: #D89FCB;
    background-image: linear-gradient(180deg, #D89FCB 10%, #c2cbe5 100%);
    background-size: cover;
}

.bg-gray-1000 {
    background-color: #000000 !important
}

.bg-fashionista {
    background-color: #e6e6e6 !important;
}

.text-gray-0 {
    color: white !important;
}

.text-gray-1000 {
    color: black !important;
}


.bg-login-image-fashionista {
    /* background: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzaGlvbiUyMG1vZGVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80"); */
    background: url("http://localhost/projetos/fashionista/assets/modelo-amarela.jpg");
    background-position: center;
    background-size: cover;
}

.footer-text {
    justify-content: space-between;
    opacity: 0.6;
    margin: 20px;
}

/* Estilo Login e Cadastro */